body.light, body.light .body-copy, body.dark .body-inverse {
    color: #000000;
    background-color: #ffffff;
    opacity: 1;
}
body.dark, body.dark .body-copy, body.light .body-inverse {
    color: #ffffff;
    background-color: #000000;
    opacity: 1;
}
body.light .body-copy-bg, body.dark .body-inverse-bg {
    background-color: #ffffff;
}
body.dark .body-copy-bg, body.light .body-inverse-bg  {
    background-color: #000000;
}
body.light .body-copy-color, body.dark .body-inverse-color {
    color: #000000;
}
body.dark .body-copy-color, body.light .body-inverse-color  {
    color: #ffffff;
}